<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
	</head>
	<body>
		<p></p>
		<form action="send" method="POST">
			<input type="text" name="username" placeholder="Usersname">
			<button type="submit">Send</button>
		</form>
	</body>
</html>